<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  throwExceptions="true" autoReload="true">

  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>

  <!-- 定义一个文件目标 -->
  <targets async="true">
    <!-- 50MB, 50*1024*1024=52428800 -->
    <target xsi:type="file" name="debugFileTarget"
      fileName="${basedir}/logs/debug/logfile.log"
      archiveFileName="${basedir}/logs/debug/logfile-{#}.log"
      archiveDateFormat="yyyy-yyMMdd_HH"
      archiveEvery="Hour"
      archiveAboveSize="52428800"
      archiveNumbering="DateAndSequence"
      maxArchiveFiles="50"
      maxArchiveDays="10"
      enableFileDelete="true"
      layout="[${date:format=yyMMdd HH\:mm\:ss.fff}] [${level:format=TriLetter:uppercase=true}]${when:when=length('${aspnet-request-ip}')>0:inner= [${aspnet-request-ip}]}${when:when=length('${callsite-filename}')>0:inner= [${callsite-filename:includeSourcePath=false}\:${callsite-linenumber}]} ${message}${when:when=length('${exception}')>0:inner=${newline}${exception}}" />

    <!-- 50MB, 50*1024*1024=52428800 -->
    <target xsi:type="file" name="traceFileTarget"
      fileName="${basedir}/logs/trace/logfile.log"
      archiveFileName="${basedir}/logs/trace/logfile-{#}.log"
      archiveDateFormat="yyyy-yyMMdd_HH"
      archiveEvery="Hour"
      archiveAboveSize="52428800"
      archiveNumbering="DateAndSequence"
      maxArchiveFiles="50"
      maxArchiveDays="10"
      enableFileDelete="true"
      layout="[${date:format=yyMMdd HH\:mm\:ss.fff}] [${level:format=TriLetter:uppercase=true}]${when:when=length('${aspnet-request-ip}')>0:inner= [${aspnet-request-ip}]}${when:when=length('${callsite-filename}')>0:inner= [${callsite-filename:includeSourcePath=false}\:${callsite-linenumber}]} ${message}${when:when=length('${exception}')>0:inner=${newline}${exception}}" />

    <!-- 50MB, 50*1024*1024=52428800 -->
    <target xsi:type="file" name="infoFileTarget"
      fileName="${basedir}/logs/logfile.log"
      archiveFileName="${basedir}/logs/logfile-{#}.log"
      archiveDateFormat="yyyy-yyMMdd_HH"
      archiveEvery="Hour"
      archiveAboveSize="52428800"
      archiveNumbering="DateAndSequence"
      maxArchiveFiles="100"
      maxArchiveDays="30"
      enableFileDelete="true"
      layout="[${date:format=yyMMdd HH\:mm\:ss.fff}] [${level:format=TriLetter:uppercase=true}]${when:when=length('${callsite-filename}')>0:inner= [${callsite-filename:includeSourcePath=false}\:${callsite-linenumber}]} ${message}${when:when=length('${exception}')>0:inner=${newline}${exception}}" />

    <!-- 定义控制台目标 -->

    <target name="consoleTarget" xsi:type="ColoredConsole" encoding="utf-8"
      layout="${date:format=HH\:mm\:ss.fff}|${level:format=TriLetter:uppercase=true}${when:when=length('${aspnet-request-ip}')>0:inner=|${aspnet-request-ip}}${when:when=length('${callsite-filename}')>0:inner=|${callsite-filename:includeSourcePath=false}\:${callsite-linenumber}}|${message}${when:when=length('${exception}')>0:inner=${newline}${exception}}">

      <highlight-word foregroundColor="Green" text="INF" wholeWords="true" />
      <highlight-word foregroundColor="Gray" text="DBG" wholeWords="true" />
      <highlight-word foregroundColor="Yellow" text="WRN" wholeWords="true" />
      <highlight-word foregroundColor="Red" text="ERR" wholeWords="true" />
      <highlight-word foregroundColor="Red" text="FAT" wholeWords="true" />
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" />
    </target>
  </targets>

  <!-- 定义日志规则 -->
  <rules>
    <!-- 把 ASP.NET Core 内部 HTTP 请求日志调到 Warning -->
    <logger name="InboundVisionHost.*" minlevel="TRACE" writeTo="traceFileTarget" />
    <logger name="InboundVisionHost.*" minlevel="DEBUG" writeTo="debugFileTarget" />
    <logger name="InboundVisionHost.*" minlevel="INFO" writeTo="infoFileTarget" />
    <logger name="InboundVisionHost.*" minlevel="INFO" writeTo="consoleTarget" />
    <logger name="*" minlevel="TRACE" writeTo="traceFileTarget" />
    <logger name="*" minlevel="WARN" writeTo="infoFileTarget,consoleTarget" />
  </rules>
</nlog>
